@import "~bootstrap/scss/bootstrap";
.contact-container{
    padding-top: 30px;
    text-align: center;

}
.contact-content {
    max-width: 350px;
    margin: 15px auto;
}
.checkbox{
    margin-right: 10px;
}
button.btn.btn-outline-secondary {
    margin-top: 15px;
}
.col-12.form-group {
    margin: 15px auto;
}
.form-check-label{
    font-weight:bold;
}
.information-address{
    margin-top: 50px;
}
.address{
    padding-bottom: 20px;
}
.address-district{
    color:black;
    text-decoration: none;
    outline:none;
}
.address-city{
    font-weight:bold;
    color:black;
    text-decoration: none;
    outline:none;
}
.mail{
    text-decoration: none;
    outline: none;
    color:black;
}
.contact-name{
    color:#999999
}
.contact-mail{
    margin-bottom: 15px;
}
.map{
    border:0;
    margin: 50px auto;
    background-position: center;
}
