.App {
  text-align: center;
}

.App-logo {
  height: 6vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #fff;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 200;
  color: white;
  margin-top: 4rem;
}
.App-footer {
  background-color: #fff;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 200;
  color: white;
  
}

.App-header-projects {
  min-height: 0;
}

.css-1ri6ub7-MuiPaper-root-MuiCard-root {
  border-radius: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.each-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 350px;
}

.each-slide {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.news-gt {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 1rem;
  position: relative;
  max-width: 1440px;
}

/* -------------PROJECT CARD------------- */

.about-picture{
  position: relative;
  margin: 9px 0;
}

.about-picture img{
  width: 345px;
  height: 220px;
}

.picture-tittle{
  position: absolute;
  left: 55%;
  top: 45%;
  color: #c2e1fd;
  transform: translate(-65%, 100%);
  opacity: 0;
  transition: all .7s;
  text-decoration: none;

}

.about-picture:hover .picture-tittle,
.about-picture:active .picture-tittle{
  transform: translate(-65%, -50%);
  opacity: 1;
}

.about-picture:hover img,
.about-picture:active img{
  filter: brightness(35%);
}
